<div class="home-banner">
  <div class="click-call d-flex flex-column align-items-center">
    <p>
      <span id="banner-typed-text"></span>
    </p>
  <%= image_tag("logo-mc.png", size: "400x200") %>
  <%= link_to "Let's make cocktails!", cocktails_path, class: 'my-btn my-btn-blue' %>
  </div>
</div>

<div class="website-description">
  <p><span>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos amet beatae, odio libero, eius quam in quae laboriosam veniam, deleniti qui quos officia, iure fugiat dicta perspiciatis necessitatibus quaerat tempore?</span>
  <span>Temporibus ab, aperiam dolor sunt commodi. A alias quis similique debitis sapiente, recusandae et, reprehenderit impedit accusantium ab, dolorem est molestiae nisi voluptatem quia qui earum labore sed vero dolores.</span>
  <span>Velit eligendi ad ex ipsum quos, omnis! Odit sint laudantium reprehenderit aut reiciendis quidem unde hic ea sunt recusandae voluptates, nisi facilis fugit quas atque ipsam culpa veritatis ad fugiat.</span>
  <span>Iure atque non ullam, reiciendis vero quod quae, illo rerum quia explicabo optio voluptatibus debitis suscipit neque recusandae ex praesentium modi reprehenderit doloribus molestiae, laudantium amet, autem incidunt delectus. Cumque.</span>
  <span>Doloribus cupiditate voluptate distinctio dolores, animi nam dolor fuga explicabo itaque, voluptatem earum obcaecati. At unde aliquam porro asperiores necessitatibus illo, quibusdam distinctio quia quasi culpa, dolor saepe, animi officia.</span>
  <span>Necessitatibus, inventore distinctio libero, voluptas iure nisi? Iure vitae, aut aperiam ipsum dolore est repudiandae sunt, dolor quo molestiae sequi fugit iste animi optio debitis, nobis quibusdam hic soluta modi.</span>
  <span>Aliquid numquam fuga magnam voluptatem omnis nesciunt enim reiciendis mollitia nulla, laboriosam unde quae voluptates non debitis sit dolorum consequuntur delectus, molestiae error exercitationem quaerat nostrum eos. Laudantium, fuga, saepe.</span>
  <span>Id dicta maxime perferendis! Modi reiciendis quam beatae sunt maiores architecto dolorem dolores, repellat fugit! Quia earum sapiente iusto perspiciatis assumenda nesciunt error ratione suscipit, doloribus quasi dolor quis recusandae?</span>
  <span>Voluptas deserunt adipisci laborum dolor nostrum similique, doloribus ea maiores totam cumque veritatis eius libero magnam enim perferendis recusandae. Aliquam, sunt commodi incidunt eius fuga ullam atque laboriosam totam optio.</span>
  <span>Dignissimos suscipit magnam, minima, eaque explicabo dolorem numquam id est, nam cumque repudiandae cupiditate a atque ipsum quas? Tempora illo ipsum voluptatum sit optio velit praesentium accusamus laborum magni, sunt.</span>
  <span>Maiores, modi itaque quasi, a distinctio, porro dolor ullam, reprehenderit non quidem praesentium ab ipsum qui eum. Vitae repellendus, harum, quam, tenetur vel tempora amet debitis aut possimus explicabo nemo.</span>
  <span>Maxime ratione molestias, labore quidem voluptatum tenetur in, illum, eligendi doloremque asperiores velit dicta iure officia porro cum rerum suscipit placeat accusantium quod. Dolores mollitia temporibus voluptate, dolorum laborum error!</span>
  <span>Aperiam animi suscipit hic! Dolores cum provident in eos officia incidunt ut, voluptatum mollitia eaque omnis sequi reiciendis inventore adipisci quisquam hic labore corrupti rem, magnam, repellat aliquam quas nulla.</span>
  <span>Nisi, ipsum perspiciatis, quisquam libero rem quis aut, voluptatum alias laudantium cupiditate voluptatibus fuga dignissimos ipsam omnis minima vel magni maiores, non ut deleniti neque quas. Iste ipsum, quod nam.</span>
  <span>Vel eaque, commodi ipsa. Porro doloremque, deleniti quaerat pariatur tempore provident blanditiis eos, voluptate esse dignissimos incidunt. Accusamus blanditiis mollitia ut eligendi deserunt. Inventore cupiditate sunt facilis ipsum perferendis officiis?</span>
  <span>Saepe voluptatum eius unde fugiat, quasi atque tempore sint corporis ea error quae recusandae sed, ullam quis! Assumenda alias inventore fuga eligendi cum soluta, est veritatis sint culpa expedita! Hic.</span>
  <span>Rem accusantium ipsa et totam ipsum asperiores vel assumenda, ratione corporis nulla unde mollitia. Sit, corporis expedita, veniam ducimus facere, ullam asperiores quas non odio iure aperiam, culpa cum maxime.</span>
  <span>Nobis quaerat, repudiandae necessitatibus officia neque, maxime earum dolores, molestias, sequi tenetur mollitia quidem molestiae dignissimos ea. Earum porro, voluptatum voluptas rem, eveniet doloribus quisquam minus modi quidem atque eum.</span>
  <span>Eos, fugiat officia in qui, doloremque modi blanditiis labore, saepe animi repudiandae ab sequi ipsam facilis unde molestiae, quae. Eius, dolor. Soluta ad reprehenderit animi temporibus facere placeat nam. Nobis.</span>
  <span>Quae numquam eius sequi! Beatae, sunt sapiente eligendi dolores molestias, ratione laborum iure temporibus repellat ipsam nulla aliquid unde quibusdam consequatur fugiat consequuntur aspernatur sequi repellendus. Optio debitis aspernatur animi.</span>
  <span>Error provident vitae assumenda. Odit laudantium at possimus pariatur cupiditate. Quam modi quasi, aut cumque distinctio ad quas a quos aspernatur veritatis consequatur dolorum ipsa illum quae officiis saepe. Quae?</span>
  <span>Blanditiis vitae facere, doloribus asperiores neque atque ducimus iste quasi delectus sed nesciunt voluptatum, perspiciatis, alias eos aliquid impedit repellat. Ipsa ea porro cupiditate, ad quam voluptatem totam odio laborum.</span>
  <span>Vitae eos eaque quod error molestias tempora. Eaque provident corporis tempora, explicabo cum quisquam nam vel? Ab sit expedita nobis, qui nostrum, ipsam. Labore, pariatur quis eligendi voluptate dignissimos excepturi.</span>
  <span>Culpa facere porro, nihil commodi ad eveniet totam eligendi ut unde aperiam rem repellat blanditiis voluptatum vero quam, sapiente reprehenderit cum, nostrum itaque delectus ducimus aliquid. Pariatur, earum nobis! Ex!</span>
  <span>Excepturi non debitis tenetur alias odit in, laborum sunt nisi ad? Reprehenderit eligendi, inventore, mollitia necessitatibus, ut quaerat vel deserunt nostrum alias saepe itaque laudantium voluptas nam eum exercitationem perspiciatis.</span>
  <span>Fuga nemo, in. Iure aperiam voluptatum suscipit, tenetur illum reiciendis quisquam cum ut repudiandae incidunt quod id eius, culpa possimus facere neque error explicabo ex veniam. Quod neque, incidunt consequuntur.</span>
  <span>Autem maxime veritatis illum excepturi fuga nostrum, alias, odio blanditiis aliquam deserunt nihil facere sunt, veniam, ab natus voluptatibus perferendis. Eligendi est eum, iure sequi blanditiis voluptates cupiditate odio animi.</span>
  <span>Quaerat consequatur saepe atque possimus, ipsam adipisci consectetur, itaque numquam, enim, fuga ullam aliquid autem. Atque, consequatur, totam! Repellendus, delectus, corrupti fuga ut perferendis sit vero quisquam voluptate sed reprehenderit!</span>
  <span>Est quaerat eum obcaecati. Rerum libero minima commodi maiores molestias, possimus eligendi ut earum culpa nulla quam quae repellat expedita optio, perspiciatis voluptatibus aliquam iste. Unde veritatis impedit labore, recusandae.</span>
  <span>Omnis architecto commodi dolor obcaecati voluptatum odit, minus itaque aliquam soluta accusamus eum sequi quod culpa blanditiis cumque unde ex veritatis ipsa explicabo tenetur pariatur id officia, at neque tempore.</span>
  <span>Consequuntur adipisci temporibus quia modi. Culpa officiis sed deserunt reprehenderit ex quam adipisci dolorum consectetur doloremque, sapiente at eius magni iure, rerum exercitationem, fuga vitae maiores reiciendis ratione nulla rem.</span>
  <span>Totam fuga molestiae accusantium sequi in, autem illo sed quos perspiciatis suscipit, atque sint nesciunt impedit iure nemo amet nam blanditiis magni odit, quo! Dolor ipsam sapiente esse ea odit.</span>
  <span>Ad eveniet laudantium pariatur itaque laboriosam ut delectus, suscipit, obcaecati sit doloremque rerum ex quam sunt ullam quisquam! Id modi quia quam in ducimus consectetur fuga dolorem dolores alias eligendi!</span>
  <span>Nisi, totam! Voluptatum veniam dolor sit veritatis vero corporis cum blanditiis maxime consequatur sint! Repudiandae eligendi laudantium, totam vero neque molestiae voluptas rerum nemo sit aspernatur doloremque deserunt, nostrum tenetur.</span>
  <span>Vitae possimus libero quisquam provident nostrum dolor atque. Molestias, suscipit nulla. Dolor, numquam explicabo inventore quam vel voluptatibus nisi ullam labore earum deserunt maxime blanditiis qui cum, id et, iusto!</span>
  <span>Laborum quaerat perspiciatis officia vitae, nemo iure hic aliquid quibusdam? Maxime eligendi minima et dolore molestias iusto esse provident, cum quas, velit dolorum, itaque blanditiis quod. Cupiditate quaerat accusamus, quidem.</span>
  <span>Aperiam, recusandae eius cum eos cumque ducimus repellendus, ipsam consequuntur dolorum, totam dignissimos, laborum nostrum illum dicta eligendi quam. Eos quia voluptatibus aliquam sed, nostrum aut! Hic ratione eaque alias!</span>
  <span>Earum nemo blanditiis quae possimus ratione eveniet, eaque aliquam corporis inventore recusandae ut quos, mollitia incidunt harum voluptatem impedit! Officia enim, doloremque. Omnis atque aperiam, dignissimos dolore laudantium. Rem, impedit.</span>
  <span>A et, iste, libero esse odio explicabo quidem excepturi praesentium, iusto neque doloremque. Sunt veniam exercitationem consequatur repudiandae molestiae aperiam, expedita ratione. Sapiente maiores perferendis id laborum, voluptas placeat voluptatibus.</span>
  <span>Fugit modi nisi asperiores saepe quae nesciunt delectus perspiciatis quibusdam sunt, veniam, maiores assumenda doloremque? Ex vitae voluptate ratione a eligendi repellat quia quo tempora, placeat tempore. Magni, numquam eaque?</span></p>
</div>
