<div class="home-banner">
  <div class="click-call d-flex flex-column align-items-center">
  <%= image_tag("logo-mc.png", size: "400x200") %>
  <%= link_to "Let's make cocktails!", cocktails_path, class: 'btn btn-primary' %>
  </div>
</div>
