.cocktail-title-show {
  width: 500px;
  background-size: cover;
  background-position: center;
  text-align: center;
  border-bottom: 1px solid #77685d;
  border-radius: 10px 0px 0px 10px;
  h1 {
    border-radius: 10px 0px 0px 0px;
    padding: 30px;
    color: white;
    line-height: 50px;
    text-shadow: 1px 1px 2px black;
    background: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.4));
  }
}

.cocktail-info {
  background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7));
  padding: 60px;
  border-radius: 10px;
  color: white;
  flex-grow: 1;
}

