// Import page-specific CSS files here.
@import "home";
@import "cocktail_show";

.cocktails-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0;
}

