a.my-btn {
    margin-left: 0px;
    border-radius: 5px;
    box-shadow: none;
    padding: 10px;
    &:hover {
      text-decoration: none;
    }
  }

a.my-btn-empty {
  color: #77685D;
  border: 1px solid #77685D;
  &:hover {
    border: 1px solid #473D3F;
    color: #473D3F;
    box-shadow: 0px 0px 47px -19px rgba(0,0,0,0.75);
  }
}

a.my-btn-blue {
  color: white;
  background-color: #078ED9;
  &:hover {
  background-color: #066396;
  }
}

a.my-btn-brown {
  color: white;
  background-color: #77685D;
  &:hover {
  background-color: #473D3F;
  }
}

.search-btn {
  border-radius: 0px 5px 5px 0px;
  background-color: #77685D;
  color: white;
  border: 1px;
  &:hover {
    background-color: #423933;
  }
  }

.back-btn {
  font-size: 25px;
  height: 25px;
  position: relative;
  i {
      position: relative;
      top: 0;
   }
}

.my-navbar .back-btn, .my-home-navbar .back-btn{
  position: absolute;
  right: 20px;
  color: #77685D;
  &:hover {
    color: #423933;
  }
}

@media screen and (max-width: 680px)  {
.my-navbar .back-btn, .my-home-navbar .back-btn {
  left: 20px;
  top: 6vw;
  width: 25px;
}

}
