.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

// My Navbar

.my-navbar {
  background-color: #F4EBD9;
  display: flex;
  border-bottom: 1px solid #77685D;

  box-shadow: 0px 9px 19px -11px rgba(0,0,0,0.75);
  height: 11vh;
  position: fixed;
  width: 100vw;
}

.my-home-navbar {
  background-color: rgba(244, 235, 217, 0.6);
  display: flex;
  border-bottom: 1px solid #77685D;

  box-shadow: 0px 9px 19px -11px rgba(0,0,0,0.75);
  height: 11vh;
  position: fixed;
  width: 100vw;
}

.navbar-white {
  background-color: #F4EBD9;
}

.navbar-item {
  padding: 10px 5px;
}

ul.navbar-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-bottom: 0;
}

.navbar-menu {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-right: 20px;
  width: 100%;

}

.search-navbar {
  display: flex;
  margin-bottom: 2px;
  height: 40px;
}

.search-btn {
  border-radius: 5px;
  background-color: #77685D;
  color: white;
  margin-left: 10px;
}

.search-input {
  border-radius: 5px;
  border: 1px solid #77685D;
  color: #77685D;
}
