.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

// My Navbar

.my-navbar {
  background-color: #F4EBD9;
  display: flex;
  border-bottom: 1px solid #77685D;

  box-shadow: 0px 9px 19px -11px rgba(0,0,0,0.75);
  height: 11vh;
  position: fixed;
  width: 100%;
}

.my-home-navbar {
  background-color: rgba(244, 235, 217, 0.6);
  display: flex;
  border-bottom: 1px solid #77685D;

  box-shadow: 0px 9px 19px -11px rgba(0,0,0,0.75);
  height: 11vh;
  position: fixed;
  width: 100%;
}

.navbar-white {
  background-color: #F4EBD9;
}

.navbar-item {
  padding: 10px 5px;
}

ul.navbar-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}

.navbar-menu {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-top: 2px;
  margin-bottom: 10px;
  margin-right: 20px;
  width: 100%;
  flex-wrap: wrap;
  a {
    text-align: center;
  }
}

.navbar-item {
  padding: 10px 0px;
}

.search-navbar {
  display: flex;
  margin-bottom: 2px;
  height: 40px;
}

.search-input {
  border-radius: 5px;
  border: 1px solid #77685D;
  color: #77685D;
  border-radius: 5px 0px 0px 5px;
  flex-grow: 1;
}

@media screen and (max-width: 680px)
{
  .branding img {
    display: none
  }

  .my-navbar {
    height: 10vh;
  }
  .navbar-menu {
    margin-left: 50px;
    margin-bottom: 5px;
    a, .search-navbar {
    width: 100%;
    height: 3.5vh;
    line-height: 1vh;
    }
  }
}
